<div *ngIf="player; else elseBlock">
    <div class="container-fluid">
        <div class="row">
            <!-- Player skin -->
            <div class="col-auto mr-5" style="margin-right: 1rem;">
                <div class="row text-center">
                    <h4>Player</h4>
                </div>
                <div class="row border pt-1 pb-3">
                    <div class="col-auto text-center">
                        <h4 class="px-2"><b>{{name}}</b></h4>
                        <div *ngIf="player.texturePath; else elseTextureBlock">
                            <app-player-skin [texturePath]="player.texturePath" [size]="64"></app-player-skin>
                        </div>
                        <ng-template #elseTextureBlock>
                            <div class="p-5">
                                <app-loading-spinner></app-loading-spinner>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <!-- Category filter -->
            <div class="col-3">
                <div class="row text-center">
                    <h4>Categories</h4>
                </div>
                <div class="row">
                    <div class="list-group">
                        <app-category-item
                            *ngFor="let category of categories"
                            [category]="category"></app-category-item>
                    </div>
                </div>
            </div>
            <!-- Advancements list -->
            <div class="col">
                <div class="row text-center">
                    <h4>Advancements</h4>
                </div>
                <div class="row">
                    <!-- Filtered advancements -->
                    <div class="list-group">
                        <app-advancement-item
                            *ngFor="let advancement of filterAdvancements()"
                            [advancement]="advancement"></app-advancement-item>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scores list -->
        <div class="row text-center">
            <h4>Scores</h4>
        </div>
        <div class="row">
            <div class="list-group">
                <app-score-item
                    *ngFor="let score of player.scores"
                    [score]="score"></app-score-item>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
